In [6]:
from alpha_vantage.techindicators import TechIndicators
import pandas as pd
import numpy as np
import warnings
import time
warnings.filterwarnings('ignore')
from tqdm.notebook import tqdm_notebook

In [7]:
symbols = pd.read_excel('my_excel_file.xlsx')
symbols = np.array(symbols['Label'])
ti = TechIndicators(key='677DPA5KEBSRUU6L', output_format='pandas')

In [8]:
mom_ind = pd.DataFrame(columns=['mom_12', 'label'])

In [9]:
%%time

for symbol in tqdm_notebook(symbols): 
    data, meta_data = ti.get_mom(symbol=symbol, interval='monthly', time_period = 12)
    data['label'] = symbol
    data.rename(columns = {'MOM': 'mom_12'}, inplace = True)
    mom_ind = pd.concat([mom_ind,data])
    time.sleep(12)

HBox(children=(FloatProgress(value=0.0, max=443.0), HTML(value='')))

Wall time: 1h 36min 59s

In [10]:
mom_ind.head()

            mom_12 label
2001-06-29    -2.7   BRK
2001-07-31    -2.0   BRK
2001-08-31    -1.4   BRK
2001-09-28    -2.5   BRK
2001-10-31     0.9   BRK

In [11]:
mom_ind.to_excel('mom_12.xlsx')